*{
	font-family: montserrat;
}
#vision_our{
	margin-top: 50px;
}

.vis_ion{
	padding: 20px;
	text-align: center;
	font-size: 20px;
}



footer{
	padding: 50px;
	background-color:black;
	color: #0000FF;
}

.footer_link{
	padding: 20px;
}